@import "./partials/mixin";
@import "./partials/variables";
@import "./partials/footer";
@import "./partials/navbare";
@import "./partials/messages";
@import "./partials/card";
@import "./partials/profilecontainer";

.pageContainer{
  padding: 1em 3em;
  background-color:rgb(228, 228, 228)
}

.linkWrap {
  @include myLink;
}

.btnWhite {
  @include myBtn;
  background-color: white;
  border-color: $myBlue;
  color: $myBlue;
}

.btnBlue {
  @include myBtn;
  background-color: $myBlue;
  border-color: $myBlue;
  color: white;
}

.btnGrey {
  @include myBtn;
  background-color: white;
  border-color: $myGrey;
  color: $myGrey;
}
