
.Collapsedmessage{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: white;
    color: black;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.Uncollapsedmessage{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color: white;
    color: black;
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}