.Content{
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 65px;
    right: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
    width:0px;
    z-index: 10;
    opacity: 0;
    transition: all ease 0.5s;




}

.Contentggs{
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 65px;
    right: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 10;
    width: 300px; 
    opacity: 1;
    transition: all ease 0.5s;
}
.premium :hover{
    color: rgb(110, 110, 236);
}

.underline:hover{
    text-decoration: underline grey;
}

#nav-dropdown-dark{
    padding: 0px;
    font-size: 12px;
}